<footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>KBooking</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Công ty TNHH KBooking Việt Nam. Mã số DN: 0328104515. Tầng 1001 =)), Tòa nhà Bitexco Financial Tower, 2 Hải Triều, Hoàn Kiếm, Hà Nội
      </div>
      <div class="credits">
        Designed by <a href="#">LK_205</a>
      </div>

      <div class="credits">
        <div class="header-social-links">
          <a href="#" class="twitter me-2"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook me-2"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram me-2"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin me-2"><i class="bi bi-linkedin"></i></a>
        </div>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      </div>
      
    </div>
    
  </footer>