<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2><span>KBooking</span> - Nơi trải nghiệm đặt phòng tiện lợi và linh hoạt</h2>
          <p>Tại trang web của chúng tôi - nơi bạn có thể khám phá và đặt chỗ tại hàng ngàn điểm đến trên khắp lãnh thổ đất nước Việt Nam. Với giao diện trực quan và thuận tiện, chúng tôi cam kết mang đến cho bạn trải nghiệm đặt phòng mượt mà và đáng tin cậy.</p>
          <a routerLink='RegisterUser' class="btn-get-started me-2">Đăng ký</a>
        </div>
      </div>
    </div>
  </section>

