<div class="text-center">
    <h2><span>Khách sạn</span> </h2>
</div>


<div class="card card-custom gutter-b mt-1 ">
    <div class="card-body">
        <div class="row mt-2 d-flex justify-content-between">
            <div class="col-1">
                <select class="form-select" id="pageSize" [(ngModel)]="pageSize" (change)="getAllRoom()">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-6 ">
                <div class="input-group mb-3">
                    <input id="request" type="text" class="form-control" placeholder="Tìm kiếm" [(ngModel)]="request" (keydown)="search($event)">
                    <button class="btn" style="background-color: deepskyblue;" type="button" id="btn_search"
                        (click)="getAllRoom()"><i class="bi bi-search" style="color: white;"></i></button>
                </div>
            </div>
        </div>

        <section id="gallery" class="gallery">
            <div class="container-fluid">
                <div class="row gy-4">
                    <div class="col-3" *ngFor="let item of listHotelData">
                        <app-card-room [dataHotel]="item"></app-card-room>
                    </div>
                </div>
            </div>
        </section>


        <div class="row d-flex justify-content-between mt-2" >
            <div class="col-xl-2 col-sm-12 " style="color: black;">
                <p id="page_details">{{paginationTitle}}</p>
            </div>


            <div class="col-xl-4 col-sm-12 d-flex justify-content-end me-2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination">
                        <li class="page-item" (click)="previousPage()">
                            <button class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>
                        <li class="page-item"><button disabled class="page-link">{{pageNumber}}</button></li>
                        <li class="page-item" (click)="nextPage()">
                            <button class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>

    </div>
</div>